modules/zl-mybatis-write/src/main/java/com/bj/zl/learn/mybatis/parsing/mybatis-1.0-config.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT configuration (environment?, mappers?)>


<!ELEMENT environment (dataSource+)>
<!ATTLIST environment>

<!ELEMENT dataSource (property*)>
<!ATTLIST dataSource
id CDATA #REQUIRED
>
<!ELEMENT property EMPTY>
<!ATTLIST property
name CDATA #REQUIRED
value CDATA #REQUIRED
>

<!ELEMENT mappers (mapper*)>

<!ELEMENT mapper EMPTY>
<!ATTLIST mapper
resource CDATA #IMPLIED
>
